* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 300px;
    margin: auto;
}

.calculator {
    border: 1px solid black;
    height: auto;
    padding: 1rem;
    border-radius: 3px;
}

.screen {
    height: 70px;
    width: auto;
    border: 1px solid black;
}

.top {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

/* buttons */

.fn.button {
    height: 50px;
    padding: .5rem;
    width: 100%;
    margin: .5rem 0 .5rem 0;
}

.bottom-container {
    display: flex;
    gap: 1px;

}
 
.button {
    width: 50px;
    margin-top: .2rem;
}

.number, .sign, .decimal {
    height: 70px;
    width: 60px;
}


.operators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.operator {
    height: 55.5px;
    width: 70px;
}